@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #252627;
}

#root{
    background-image: url(/Doopie_background_image_similar_to_this_7cdd5264-4f9d-4643-9539-e7b18cb09b8e\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

h1{
    background-size: 200%;
    animation: text 3s infinite linear;
    animation-timing-function: ease-in-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes text {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: -200% center;
    }
}